body{
  background-color: white;
}

.result {
  height: 80px;
  background-color: gray;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;
  color: white;
  display: flex;
  justify-content: end;
}

.calculator-body {
  max-width: 350px;
  margin-top: 250px;
  margin-left: 700px;
}

.button {
  display: block;
  background-color: #bbb;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  
}
